{
  "plugins": ["prettier"],
  "extends": ["oclif", "oclif-typescript"],
  "env": {
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },

  "rules": {
    "@typescript-eslint/ban-ts-ignore": "off",
    "unicorn/filename-case": "camelCase",
    "semi": ["error", "always"],
    "quotes": ["error", "double"],
    "arrow-parens": "error",
    "object-curly-spacing": "off",
    "no-console": "off",
    "indent": "off",
    "valid-jsdoc": "off"
  }
}
