{
  "plugins": ["prettier"],
  "extends": ["oclif", "oclif-typescript"],
  "rules": {
    // "prettier/prettier": "warn",
    "semi": ["error", "always"],
    "quotes": ["error", "double"],
    "arrow-parens": "error",
    "object-curly-spacing": "off",
    "no-console": "off",
    "indent": "off"
  }
}
